.container {
    display: flex;
    flex-wrap: wrap;
}

.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #FFF;
    left: -100px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
    0% {
        box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    12% {
        box-shadow: 100px 0 rgb(21, 134, 162), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    25% {
        box-shadow: 110px 0 rgb(21, 134, 162), 100px 0 rgb(21, 134, 162), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    36% {
        box-shadow: 120px 0 rgb(21, 134, 162), 110px 0 rgb(21, 134, 162), 100px 0 rgb(21, 134, 162), 0px 0 rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 130px 0 rgb(21, 134, 162), 120px 0 rgb(21, 134, 162), 110px 0 rgb(21, 134, 162), 100px 0 rgb(21, 134, 162);
    }

    62% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 rgb(21, 134, 162), 120px 0 rgb(21, 134, 162), 110px 0 rgb(21, 134, 162);
    }

    75% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 rgb(21, 134, 162), 120px 0 rgb(21, 134, 162);
    }

    87% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 rgb(21, 134, 162);
    }

    100% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
}

.card {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
    position: relative;
    height: 100px;
    border-radius: 5px;
    background-color: var(--background-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow);
}

.open-icon {
    display: flex;
    align-items: center;
    display: none;
}

@media (max-width: 1124px) {
    .card {
        flex: 1 1 calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
    }
}

@media (max-width: 868px) {
    .card {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 580px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.add-button {
    margin: 5px;
    background-color: rgb(19, 162, 69);
    border: none;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}


.add-button-level {
    margin: 5px;
    background-color: var(--document);
    border: none;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-button-document {
    background-color: rgba(19, 162, 69, 0.219);
    border: none;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sticky-add-button {
    position: sticky;
    top: 0;
}

.subject-name {
    display: inline-block;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;

}

.card1 {
    border-radius: 5px;
    background-color: var(--background-1);
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid var(--border-color);
    position: relative;
    box-shadow: var(--shadow);
}

.card1:hover {
    background-color: var(--card-hover);
}

.card1-fake {
    border-radius: 5px;
    background-color: var(--background-1);
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}

.level-num {
    font-size: small;
    font-weight: 700;
    color: rgb(92, 92, 92);
}

.levels-with-documents {
    width: 100%;
    display: flex;
    gap: 5px;

}

.container1 {
    flex: 1.5;
    display: flex;
    flex-direction: column;
}

.container2 {
    flex: 3;
    width: auto;
    height: 100%;
    background-color: var(--background-1);
    margin: 5px 0px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow);
}

.level-name {
    width: 100%;

}

hr {
    border-color: #5c5c5c;
}

.each-tab {
    list-style: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700
}

.tabs-list {
    padding: 0px;
    display: flex;
    margin: 0px;
}

.each-tab {
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
}

.each-tab:hover {
    background-color: var(--document);
}

.each-tab.active {
    background-color: var(--document);
}

.tabs-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

}

.all-documents {
    background-color: var(--document);
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}


.drop-container {
    margin-top: 20px;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #2469b3;
    color: var(--text);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
    background: var(--background);
    border-color: #111;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
    color: var(--upload-hover);
}

.drop-title {
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}


.documents-container {
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.documents-div,
.folders-div {
    background-color: var(--background-1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.documents-div {
    flex: 2;
}

.folders-div {
    flex: 1;
}

.index-box {
    background-color: #4caf4f13;
    color: white;
    border: 1px solid rgba(0, 128, 0, 0.548);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}

.document-item {
    background-color: #4caf4f13;
    color: white;
    border: 1px solid rgba(0, 128, 0, 0.548);
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
    padding: 0px;
}

.document-item:hover {
    background-color: #4caf4f65;
}

.document-item a {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    width: 100%;
}

.flex-align {
    display: flex;
    align-items: center;
}

.document-item a:hover {
    text-decoration: underline;
}

img {
    height: 25px;
    margin-right: 10px;
    border-radius: 2px;
}

.hover-edit-delete {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hover-edit-delete-folders {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0px;
    gap: 5px;
}

.level-count {
    position: absolute;
    top: 10px;
    left: 7px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: smaller;
    padding: 2px 7px;
    background-color: rgb(10, 87, 97);
    border-radius: 10px;
    font-weight: 700;
    color: white;
}

.hover-edit-delete-levels {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    gap: 5px;
    background-color: var(--document);
    padding: 3px;
    border-radius: 5px;
}

.edit-icon,
.delete-icon {
    cursor: pointer;
    color: #333;
    padding: 7px;
    background-color: var(--document);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.edit-icon:hover,
.delete-icon:hover {
    color: #007bff;
}

input[type=checkbox] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    border: 3px solid lightgray;
    margin-right: 10px;
}

input[type=checkbox]:checked {
    background-color: #13a245;
}

.hover-edit-delete-documents {

    display: flex;
    gap: 5px;
}


.document-item {
    cursor: pointer;
    padding: 7px;
}

.document-item.active {
    background-color: rgb(68, 107, 212);
    color: white;
}

.document-item.active .open-icon {
    display: flex;
}




.document-upload-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 16px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.document-type-select,
.text-input,
.file-input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.cancel-button,
.upload-button {
    padding: 8px 16px;
    margin-left: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.upload-button {
    background-color: #4caf50;
    color: white;
}

.cancel-button:hover {
    background-color: #e53935;
}

.upload-button:hover {
    background-color: #43a047;
}

.document-type-select label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.document-type-select select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}






.custom-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 1000;
    width: 400px;
    border-radius: 8px;
  }
  
  .custom-dialog-content {
    padding: 20px;
  }
  
  .custom-dialog-body {
    margin-top: 10px;
  }
  
  .custom-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .custom-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .custom-button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #303f9f;
}  
  